<form method="post" action="{{ path('app_json_partie_delete', {'id': json_partie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ json_partie.id) }}">
    <button class="btn">Delete</button>
</form>
