@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    /* ======== Colors ======== */
    --body-color:#eee ;
    --sidebar-color: #fff;
    --primary-color: #2CD93E;
    --primary-color-light: #F6F5FF;
    --toggle-color: #ddd;
    --text-color: #707070;

    /*========= Transition =======*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease ;
    --tran-04: all 0.4s ease ;
    --tran-05: all 0.5s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}



/* ========= Sidebar =========*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close{
    width: 88px;
}

/* ======== Code Réutilisable ========*/
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
}

li a .nav-links:visited {
    background-color: #7e7e7e;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.icon{
    display: flex;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.sidebar.text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    color: black;
}

.sidebar.close .text{
    opacity: 0;
}

.bottom-content {
    font-size: 15px;
    line-height: 3.5;
    place-items: center;
    border-radius: 5px;
    margin: 0;
}

/* =======================*/

.sidebar header{
    position: relative;
}

.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .name{
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}



.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}


.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover .icon{
    color: #2CD93E;
    transition: 0.4s;
}


.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar{
    display: none;
}

.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

/*============= Home ===========*/

.home_container{
    position: relative;
    left: 5rem;
}

.boutons_partie {
    display: flex;
}

.button_partie_dispo {
    margin-left: 50px !important;
    background-color: #2CD93E !important;
}

.parties_dispo {
    margin-bottom: 10vh !important;
}

.home{
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
    overflow-x: hidden;

}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: #000;
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

/*============== Link Profil ==============*/

.nav-links{
    display: grid;
    font-size: 27px;
    line-height: 1.5;
    height: 100vh;
    place-items: center;
}

.link_profil {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.active{
    left: 0;
}

.link_profil::before,
.link_profil::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}
.link_profil::before {
    background-color: #2CD93E;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.link_profil::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #2CD93E;
}

.link_profil:hover::before {
    transform-origin: 0 50%;
    transform: scaleX(1);
}
.link_profil:hover::after {
    transform: translate3d(0, 0, 0);
}

.link_profil span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.link_profil:hover span {
    transform: translate3d(-200%, 0, 0);
}


.link_profil {
    text-decoration: none;
    color: #18272F;
    font-weight: 700;
    vertical-align: top;
}

/*=========================================*/


.profil{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.avatar{
    width: 100px;
}


.card_profil{
    background-color:var(--sidebar-color) ;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.card_profil:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 25px;
    transition: 0.4s;
}

.number_card{
    background-color: #f1f0f0;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 15px;
    font-weight: 600;
}

.name_card{
    color: #707070;
    padding: 0.5rem;
}

/*========== Section Input =========*/


.section_input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5rem;
    padding: 20px;
}

.title_connexion{
    font-weight: bold;
    font-size: 1.5rem;
}

.form_info{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}

.changer_mdp{
    width: fit-content;
    padding-left: 15px;
}

input[type=text], select, input[type=password], input[type=email] {
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 235px;
}



button, input[type=submit], .bouton_connexion a, .button_partie{
    width: fit-content;
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none !important;
}

button:hover, input[type=submit]:hover, .bouton_connexion a:hover, .button_partie:hover{
    background-color: var(--primary-color) !important;
    transition: 0.4s;
}


.grid_input{
    display: grid;
    grid-template-columns: auto;
    width: 230px;
}


.input_icon{
    display: flex;
    align-items: center;
    gap: 10px;
}

.inscription{
    width: 100%;
    background-color: transparent;
    border: solid 1px #4F4F4F;
    padding: 14px 0px;
    margin: 8px 0;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: #000;

}

.inscription:hover{
    border: none;
    transition: 0.3s;
    background-color: #4F4F4F;
    color: #fff;
}

input[type=submit]:hover {
    background-color: #7e7e7e;
}


.container_connexion {
    margin-top: 5rem;
    border-radius: 2rem;
    background-color: #f2f2f2;
    padding: 20px;
}

.section_connexion{
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: sans-serif;
}

form{
    margin: auto;
}

.text_profil {
    color: darkgray;
    font-size: 12px;
}

.text_mdp {
    color: darkgray;
    font-size: 12px;
}

.bouton_connexion{
    margin-top: 1.5rem;
}

.login_eye{
    width: max-content;
    height: max-content;
    position: absolute;
    right: .75rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 1.25rem;
    cursor: pointer;
}

.login_box{
    position: relative;
}

.login_box .login_input{
    padding-right: 36px;
}


/*========== Salon ===========*/

.button_salon{
    display: flex;
    row-gap: 2rem;
}

.button_partie{
    position: relative;
    top: 2rem;
}

.partie_container{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5rem;
    margin-top: 5rem;
}

.title_partie{

    font-size: 20px;
    font-weight: 500

}


input[type=search]{
    outline: none;
    padding: 0.8rem;
    color: #707070;
    border: #707070;
    border-radius: 2rem;
    width: 55%;
}


.card_container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.parties {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 5px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
    width: fit-content;
    padding: 10%;
    transform: scale(0.8);
}

.card_partie{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card_partie:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 25px;
    transition: 0.4s;
}

.button_rejoindre{
    text-decoration: none;
    color: #fff;
    background-color: rgb(37, 37, 37);
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.button_rejoindre:hover{
    background-color: var(--primary-color);
    transition: 0.4s;
}

.liste-record {
    /* background-color: palegoldenrod !important;     */
}

.liste-record > * {
    margin: 0.5rem;
}

@media only screen and (max-width: 700px) {
    .form_info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .changer_mdp {
        padding-top: 10%;
    }
}

@media only screen and (max-width: 1000px) {
    .changer_mdp {
        padding-top: 10%;
    }
}