{% extends 'base.html.twig' %}

{% block title %}Edit StatsPartie{% endblock %}

{% block body %}
    <h1>Edit StatsPartie</h1>

    {{ include('stats_partie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_stats_partie_index') }}">back to list</a>

    {{ include('stats_partie/_delete_form.html.twig') }}
{% endblock %}
